.button
        {
				background-color:#88b06a;
		        left:45%;
		        position:relative;
		        border:18px solid #88b06a; 
		        text-align:center;
		        text-decoration:none;
		        overflow:hidden;   
		        display:inline-block;
		     
	}