


h1{
  margin-left:35%;
  margin-top:10%;

}
 input {
        text-align: center;
          padding:8px;
          border-radius:2px solid red; 
          widows: 30px;
          
      }
      .button{
      background-color:DodgerBlue;
      color:white;
      border-color: DodgerBlue;
      padding:10px;
      width: 80px;
      border-radius:3px; 
      margin-left:8%;
      margin-bottom:60%;
      margin-top:5%;
      }
      .validation{
      margin-left:37%;
            margin-top:1%;
      
      
      }