body {
    background-color:black; 
    font-family: Arial, Helvetica, sans-serif; 
}

@theme_button {
	background-color: blue;
}

.theme_blue_button {
	background-color: blue;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
	border-radius: 4px;
}

.theme_blue_button_cancel {
	background-color: red;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
	border-radius: 4px;
}

.form-popup {
	display: none;
	
	z-index: 1;
	margin: 10%;
	margin-left:10%;
	
	margin-top: 5%;
	color: white;
	border-radius: 3px;
}

.form-container {
	max-width: 25%;
	padding: 10px;
	background-color: lightblue;
}

.form-container input[type=text], .form-container input[type=password] {
	width:90%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus
	{
	background-color: #ddd;
	outline: none;
}



.form-container .theme_blue_button:hover, .open-button:hover {
	opacity: 1;
}

#card {
    position: relative;
    top: 110px;
    width: 320px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}	

#upper-side {
    padding: 2em;
    background-color: blue;
    display: block;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#checkmark {
    font-weight: lighter;
    fill: #fff;
    margin: -3.5em auto auto 20px;
}
#status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: -0.2em;
    margin-bottom: 0;
}
#lower-side {
    padding: 2em 2em 5em 2em;
    background: #fff;
    display: block;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}


#message {
    margin-top: -0.5em;
    color: green;
    letter-spacing:0px;
}
#contBtn {
    position: relative;
    top: 1.5em;
    text-decoration: none;
    background:blue;
    color: #fff;
    margin: auto;
    padding: 0.8em 3em;
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    border-radius: 25px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#contBtn:hover {
    -webkit-box-shadow: 0px 15px 30px rgba(60, 60, 60, 0.4);
    -moz-box-shadow: 0px 15px 30px rgba(60, 60, 60, 0.4);
    box-shadow: 0px 15px 30px rgba(60, 60, 60, 0.4);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}