html {
  background: url("../../Assets/quizer-bkg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-center {
  text-align: center;
  color: white;
}

.p1 {
  font-size: 20px;
  color: black;
  margin: auto;
  margin-left: 20px;
}

.button, .button-extended, .button-error-extended, .button-error {
  background-color: purple;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 45px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  opacity: 1;
  border-radius: 4px;
}
.button-error {
  background-color: red;
}
.button-error-extended {
  width: 100%;
  background-color: red;
}
.button-extended {
  width: 100%;
}

p1 {
  margin-left: 20%;
  margin-bottom: 30%;
  margin-top: 20%;
}

.container-center, .container-center-form-popup {
  text-align: center;
  width: 100%;
}
.container-center-form-popup {
  display: none;
  z-index: 1;
  position: absolute;
  left: 40%;
  top: 0;
}

.container-center-blured, .container-center-blured-space-between {
  background-color: white;
  opacity: 1;
  font-size: 15px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.container-center-blured-space-between {
  justify-content: space-between;
}

.form {
  display: none;
  background-color: lightblue;
  margin: auto;
  width: 25%;
  position: absolute;
  left: 40%;
  margin-top: -12%;
  border-radius: 2px solid red;
  padding: 1%;
}

.form input[type=text],
.form input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 2px 0 10px 0;
  border: none;
  margin-right: 10%;
  border-radius: 1px auto black;
}

.form input[type=text]:focus,
.form input[type=password]:focus {
  background-color: white;
  border-radius: 1px auto green;
}

#card {
  position: relative;
  top: 110px;
  width: 320px;
  display: block;
  margin: auto;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

#upper-side {
  padding: 2em;
  background-color: blue;
  display: block;
  color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#checkmark {
  font-weight: lighter;
  fill: #fff;
  margin: -3.5em auto auto 20px;
}

#status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  margin-top: -0.2em;
  margin-bottom: 0;
}

#lower-side {
  padding: 2em 2em 5em 2em;
  background: #fff;
  display: block;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#message {
  margin-top: -0.5em;
  color: green;
  letter-spacing: 0px;
}

#contBtn {
  position: relative;
  top: 1.5em;
  text-decoration: none;
  background: blue;
  color: #fff;
  margin: auto;
  padding: 0.8em 3em;
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  border-radius: 25px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#contBtn:hover {
  -webkit-box-shadow: 0px 15px 30px rgba(60, 60, 60, 0.4);
  -moz-box-shadow: 0px 15px 30px rgba(60, 60, 60, 0.4);
  box-shadow: 0px 15px 30px rgba(60, 60, 60, 0.4);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/*# sourceMappingURL=style.css.map */
